.swiper {
	&-container {
		width: 100%;

		&.testimonialsSlider {
			.swiper {
				&-slide {
					height: auto;

					.testimonials__post {
						min-height: unset;
					}
				}
			}
		}
	}

	&-wrapper {}

	&-slide {
		position: relative;
		width: 100%;
		height: 500px;

		img,
		iframe, {
			@extend %imageResCoverAbs;
		}
	}
}
