// SECTION :: START

section#details.details

	.c-grid

		.section.details__wrapper

			.details__bg
				.details__bg-top

			.details__wrapper-left

				.details__profile
					img(src="img/img-ananda.png" srcset="img/img-ananda@2x.png 2x" alt="")

			.details__wrapper-right

				.details__header
					.details__header-left

						p.details__title Ananda

					.details__header-right

						a.details__social.details__social--fb(href="#")
							i.icon-font.icon-facebook
						a.details__social.details__social--tw(href="#")
							i.icon-font.icon-linkedin

				ul.details__list
					li.details__list-item
						a.details__link(href="#")
							i.icon-font.icon-visitor
							p Profile
					li.details__list-item
						a.details__link(href="#")
							span 5
							p Job Vacancies
					li.details__list-item
						a.details__link(href="#")
							span 123
							p Testimonials
					li.details__list-item
						a.details__link(href="#")
							span 123
							p Gallery
					li.details__list-item
						a.details__link(href="#")
							span 23
							p Video
					li.details__list-item
						a.details__link(href="#")
							span 2
							p Documents

// SECTION :: END
