// SECTION :: START

section#document.document
	.c-grid
		.section.document__wrapper
			.document__wrapper-top
				div
					p.section__title.section__title--pb0 Document
				div
					a.section__link(href="#") Download All

			.document__wrapper-bottom

				.document__file-wrapper
					div
						a.document__file(href="#")
							div
								img(src="img/file-pdf.svg" alt="")
							div
								p PDF Documents
								span Price list 2020 3Q

					div
						a.document__file(href="#")
							div
								img(src="img/file-ppt.svg" alt="")
							div
								p PPTX Documents
								span Company Presentation


// SECTION :: END
