// SECTION :: START

section#profile.profile
	.c-grid
		.section.profile__wrapper
			.profile__wrapper-top
				p.section__title Ananda Profile

			.profile__wrapper-middle

				ul.profile__list.profile__list-1
					li.profile__list-item
						div
							p Employer Type
						div
							span Direct employer
					li.profile__list-item
						div
							p Industry
						div
							span Telecommunications
					li.profile__list-item
						div
							p Size
						div
							span 201-500 employees
					li.profile__list-item
						div
							p Founded
						div
							span 2008

				ul.profile__list.profile__list-2
					li.profile__list-item
						div
							p Website:
						div
							a(href="#" target='_blank') www.ananda.com
					li.profile__list-item
						div
							p Address
						div
					li.profile__list-item
						span No. 114, Sayar San Ward, Kabar Aye Pagoda Road, Bahan Township, Yangon, Myanmar

			.profile__wrapper-bottom

				.profile__row
					.profile__col.profile__col-1
						p.profile__title
							i.icon-font.icon-star
							span Company Vision and Mission

						p.profile__description We are a small, fast-paced startup with the expertise of a large Myanmar conglomerate.
						p.profile__description We are in the process of recruiting the team who will take our company from an idea to a reality, and who will bring our new portfolio of internet-related products and services to the people of Yangon and Mandalay in the coming year.

					.profile__col.profile__col-2
						p.profile__title
							i.icon-font.icon-highlighter
							span What We Do

						p.profile__description We champion change. We value ideas. We respect hard work. We believe in the infinite potential of Myanmar. We are committed to delivering a superior brand experience to our customers and our own people.
						p.profile__description Our business is technology; which means we are constantly evolving.

					.profile__col.profile__col-3
						p.profile__title
							i.icon-font.icon-like
							span Why You Should Join Us

						p.profile__description We will build this brand and company together. You will be a part of a passionate group of smart innovators who will have a chance to make a real difference in the way Myanmar connects and communicates in the future.

// SECTION :: END
