// SECTION :: START

section#stand.stand

	a.stand__back(href="/")
		i.icon-font.icon-arrow-back
		span Back to Hall

	.stand__wrapper

		img.stand__img(src="img/img-box-big-1.png" srcset="img/img-box-big-1@2x.png 2x" alt="")

// SECTION :: END
