// SECTION :: START

section#stand.stand

	a.stand__back(href="/")
		i.icon-font.icon-arrow-back
		span Back to Hall

	.stand__wrapper

		img.stand__img(src="img/img-box-small-2.jpg" srcset="img/img-box-small-2@2x.jpg 2x" alt="")

// SECTION :: END
