// SECTION :: START

section#testimonials.testimonials
	.c-grid
		.section.testimonials__wrapper
			.testimonials__wrapper-top
				div
					p.section__title.section__title--pb0 Testimonials
				div
					a.section__link(href="#testimonialsModal" popup-js data-effect='mfp-zoom-in') See All 123 Testimonials

			.testimonials__wrapper-bottom

				.testimonials__post-wrapper
					div
						.testimonials__post
							.testimonials__post-head
								div
									.testimonials__post-user
										img(src="img/img-testimonials-user.png" srcset="img/img-testimonials-user@2x.png 2x" alt="")
								div
									p.testimonials__post-name Ma Hnin Wai Wai Kyaw - Senior Manager
									p.testimonials__post-position Fraud & Revenue Assurance - Finance Department
									.testimonials__post-rating
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled

							.testimonials__post-body
								p.testimonials__post-desc 1. Why do you want to work at our company? Ananda is fastest growing company with good reputation. The culture is top notch and working with experts from U.S, etc., is credit. Telecom owned by local is my personal preference. Everybody wants to achieve their career goals and Ananda is the best to make it happen. 2. What do you expect at working here? I like to work for a company that gives challenging roles, rational career growth, great learning opportunities, and job satisfaction. Ananda would allow me to apply international working experiences and grow together with it as a professional.
					div
						.testimonials__post
							.testimonials__post-head
								div
									.testimonials__post-user
										img(src="img/img-testimonials-user.png" srcset="img/img-testimonials-user@2x.png 2x" alt="")
								div
									p.testimonials__post-name Ma Hnin Wai Wai Kyaw - Senior Manager
									p.testimonials__post-position Fraud & Revenue Assurance - Finance Department
									.testimonials__post-rating
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-star-filled

							.testimonials__post-body
								p.testimonials__post-desc 1. Why do you want to work at our company? Ananda is fastest growing company with good reputation. The culture is top notch and working with experts from U.S, etc., is credit. Telecom owned by local is my personal preference. Everybody wants to achieve their career goals and Ananda is the best to make it happen. 2. What do you expect at working here? I like to work for a company that gives challenging roles, rational career growth, great learning opportunities, and job satisfaction. Ananda would allow me to apply international working experiences and grow together with it as a professional.

mixin modalContent()
	.c-modal__header
		p.c-modal__title.section__title.section__title--pb0 Testimonials

	.c-modal__body
		.c-modal__body-left

			a.c-modal__btn.c-modal__btn--prev(href="#")
				i.icon-font.icon-arrow-back

		.c-modal__body-middle

			.c-modal__slider

				mixin swiperContent()
					.swiper-slide
						.testimonials__post
							.testimonials__post-head
								div
									.testimonials__post-user
										img(src="img/img-testimonials-user.png" srcset="img/img-testimonials-user@2x.png 2x" alt="")
								div
									p.testimonials__post-name Ma Hnin Wai Wai Kyaw - Senior Manager
									p.testimonials__post-position Fraud & Revenue Assurance - Finance Department
									.testimonials__post-rating
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-star-filled

							.testimonials__post-body
								p.testimonials__post-desc 1. Why do you want to work at our company? Ananda is fastest growing company with good reputation. The culture is top notch and working with experts from U.S, etc., is credit. Telecom owned by local is my personal preference. Everybody wants to achieve their career goals and Ananda is the best to make it happen. 2. What do you expect at working here? I like to work for a company that gives challenging roles, rational career growth, great learning opportunities, and job satisfaction. Ananda would allow me to apply international working experiences and grow together with it as a professional.
					.swiper-slide
						.testimonials__post
							.testimonials__post-head
								div
									.testimonials__post-user
										img(src="img/img-testimonials-user.png" srcset="img/img-testimonials-user@2x.png 2x" alt="")
								div
									p.testimonials__post-name Ma Hnin Wai Wai Kyaw - Senior Manager
									p.testimonials__post-position Fraud & Revenue Assurance - Finance Department
									.testimonials__post-rating
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-star-filled

							.testimonials__post-body
								p.testimonials__post-desc 1. Why do you want to work at our company? Ananda is fastest growing company with good reputation. The culture is top notch and working with experts from U.S, etc., is credit. Telecom owned by local is my personal preference. Everybody wants to achieve their career goals and Ananda is the best to make it happen. 2. What do you expect at working here? I like to work for a company that gives challenging roles, rational career growth, great learning opportunities, and job satisfaction. Ananda would allow me to apply international working experiences and grow together with it as a professional.
					.swiper-slide
						.testimonials__post
							.testimonials__post-head
								div
									.testimonials__post-user
										img(src="img/img-testimonials-user.png" srcset="img/img-testimonials-user@2x.png 2x" alt="")
								div
									p.testimonials__post-name Ma Hnin Wai Wai Kyaw - Senior Manager
									p.testimonials__post-position Fraud & Revenue Assurance - Finance Department
									.testimonials__post-rating
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-filled.icon-star-filled
										i.icon-font.icon-star-filled

							.testimonials__post-body
								p.testimonials__post-desc 1. Why do you want to work at our company? Ananda is fastest growing company with good reputation. The culture is top notch and working with experts from U.S, etc., is credit. Telecom owned by local is my personal preference. Everybody wants to achieve their career goals and Ananda is the best to make it happen. 2. What do you expect at working here? I like to work for a company that gives challenging roles, rational career growth, great learning opportunities, and job satisfaction. Ananda would allow me to apply international working experiences and grow together with it as a professional.

				+swiper('testimonialsSlider', 'swiperContent', false, false, false)

		.c-modal__body-right

			a.c-modal__btn.c-modal__btn--next(href="#")
				i.icon-font.icon-arrow-back

	.c-modal__footer

+modal('testimonialsModal', 'modalContent')

// SECTION :: END
