// SECTION :: START

section#video.video
	.c-grid
		.section.video__wrapper
			.video__wrapper-top
				div
					p.section__title.section__title--pb0 Video
				div
					a.section__link(href="#") See All 23 Video

			.video__wrapper-bottom

				.video__poster-wrapper
					div
						.video__poster
							img(src="img/img-video-poster.jpg" srcset="img/img-video-poster@2x.jpg 2x" alt="")
					div
						.video__poster
							img(src="img/img-video-poster.jpg" srcset="img/img-video-poster@2x.jpg 2x" alt="")
					div
						.video__poster
							img(src="img/img-video-poster.jpg" srcset="img/img-video-poster@2x.jpg 2x" alt="")

// SECTION :: END
