// SECTION :: START

section#video.video
	.c-grid
		.section.video__wrapper
			.video__wrapper-top
				div
					p.section__title.section__title--pb0 Video
				div
					a.section__link(href="#") See All 23 Video

			.video__wrapper-bottom

				.video__poster-wrapper
					div
						.video__poster
							iframe(src="https://www.youtube.com/embed/ZvKjKTj6ssQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					div
						.video__poster
							iframe(src="https://www.youtube.com/embed/AXnpiWNsvXE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					div
						.video__poster
							iframe(src="https://www.youtube.com/embed/JNcv7IxyNSg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

// SECTION :: END
