// FOOTER :: START

footer#footer.footer

	.c-grid

		.footer__wrapper
			.footer__wrapper-left

				.copyright
					p.copyright__text Copyright © 2019 JobNet.com.mm

			.footer__wrapper-right

				ul.footer__nav
					li.footer__nav-item
						a(href="#") Privacy Policy
					li.footer__nav-item
						span |
					li.footer__nav-item
						a(href="#") Terms & Conditions

// FOOTER :: END
