// HEADER :: START

header#header.header

	.c-grid-fluid

		.header__wrapper
			.header__wrapper-left

				div
					.logo.logo--header
						a.logo__btn(href="/")
							img.logo__img(src="img/logo.png" srcset='img/logo@2x.png 2x' alt="")

					p.header__slogan Singapure Job Expo

				div
					+hamburger()

			.header__wrapper-right(mobile-block-js)

				.header__col.header__col-1

				.header__col.header__col-2

					a.header__link(href="#") Exhibition  Hall
					a.header__link(href="#" exhibitors-btn-js) Companies
					a.header__link(href="#" jobs-btn-js) Jobs
					a.header__link(href="#") Seminars
					a.header__link(href="#" message-btn-js) Messages

				.header__col.header__col-3

					a.header__lang(href="#")
						img(src="img/myanmar.svg" alt="")

					a.header__close(href="#" close-menu-js)
						i.icon-font.icon-close

				.header__col.header__col-4

					a.header__upload(href="#")
						i.icon-font.icon-upload
						span Upload Your Resume

				.header__col.header__col-5

					.header__user-unlogin
						a.header__user(href="/login.html")
							i.icon-font.icon-enter

						p.header__user-text Event Login

					.header__user-login
						a.header__user(href="#")
							img.header__user-img(src="img/img-user.png" srcset='img/img-user@2x.png 2x' alt="")

						.header__user-name
							p Justin Sway
							span justinsway@mmone.com.mm

// HEADER :: END
