// HEADER :: START

header#header.header

	.c-grid-fluid

		.header__wrapper
			.header__wrapper-left

				div
					.logo.logo--header
						a.logo__btn(href="#")
							img.logo__img(src="img/logo.png" srcset='img/logo@2x.png 2x' alt="")

					p.header__slogan Singapure Job Expo

				div
					+hamburger()

			.header__wrapper-right(mobile-block-js)

				.header__col.header__col-1

				.header__col.header__col-2

					a.header__link(href="#") Exhibition  Hall
					a.header__link(href="#" exhibitors-btn-js) Companies
					a.header__link(href="#" jobs-btn-js) Jobs
					a.header__link(href="#") Seminars
					a.header__link(href="#") Messages

				.header__col.header__col-3

					a.header__lang(href="#")
						img(src="img/myanmar.svg" alt="")

				.header__col.header__col-4

					a.header__upload(href="#")
						i.icon-font.icon-upload
						span Upload Your Resume

				.header__col.header__col-5

					a.header__user(href="#loginModal" data-effect='mfp-zoom-in' popup-js)
						i.icon-font.icon-enter
						//img.header__user-img(src="img/img-user.png" srcset='img/img-user@2x.png 2x' alt="")

// HEADER :: END
