// SECTION :: START

section#jobs.jobs

	a.jobs__close(href="#" jobs-close-js)
		i.icon-font.icon-close

	.jobs__head
		p.jobs__title Active Jobs

	.jobs__search
		input(type='text' name='' placeholder='Search Company or Job Title')
		i.icon-font.icon-search

	.jobs__body

		.jobs__box-wrapper
			-for(let i = 0; i < 20; i++)
				div
					a.jobs__box(href="#" jobs-card-js)
						.jobs__box-left
							.jobs__box-logo
								img(src="img/img-logo.png" srcset="img/img-logo@2x.png 2x" alt="")
						.jobs__box-right
							p.jobs__box-title WWF Myanmar
							p.jobs__box-subtitle NGO/UN/Non Profit

					.jobs__box-details
						a(href="#") Solutions Consultant (Application Solutions Consultant (Application
						a(href="#") Business Analyst ( RPA Consultant ) Business Analyst ( RPA Consultant )
						a(href="#") Business Consultant Business Consultant
						a(href="#") Mobile Developer Mobile Developer
						a(href="#") Managed Service & Trouble Shoo Managed Service & Trouble Shoo


// SECTION :: END
