---
title: JobNet | Hall

pageClassName: p-home
---
extends shared/_layout

block content
	div.body(class!= pageClassName)

		main
			include components/main/_main
			include components/main/_advertising

		aside

			include components/aside/_stand
			include components/aside/_details
			include components/aside/_profile
			include components/aside/_gallery
			include components/aside/_video
			include components/aside/_testimonials
			include components/aside/_document
