// HEADER :: START

.header {
	z-index: 1999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $c-white;
	box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
	@include adaptive(767) {
		z-index: 1000;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 66px;
		padding-left: 15px;
		padding-right: 15px;
		@include adaptive(1535) {
			padding-left: 0;
			padding-right: 0;
		}

		&-left {
			display: flex;
			align-items: center;
			@include adaptive(1439) {
				justify-content: space-between;
				width: 100%;
			}

			> div {
				display: flex;
				align-items: center;
			}
		}

		&-right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			height: 100%;
			@include adaptive(1439) {
				overflow-y: auto;
				opacity: 0;
				visibility: hidden;
				transform: translateX(-100%);
				z-index: 1100;
				position: fixed;
				top: 0;
				left: 0;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-direction: column;
				width: 318px;
				height: 100vh;
				background-color: #ffffff;
				box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3);
				@include transition(opacity, visibility, transform);

				&.is-open {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
					@include transition(opacity, visibility, transform);
				}
			}
			@include adaptive(767) {
				width: 100%;
			}
		}
	}

	&__col {
		@include adaptive(1439) {
			width: 100%;
		}

		&-1 {
			display: none;
		}
		&-2 {
			display: flex;
			align-items: center;
			height: 100%;
			@include adaptive(1439) {
				order: 4;
				flex-direction: column;
				align-items: flex-start;
				height: auto;
				padding: 0 35px 20px;
			}
		}
		&-3 {
			padding-left: 30px;
			padding-right: 50px;
			@include adaptive(1919) {
				padding-left: 15px;
				padding-right: 30px;
			}
			@include adaptive(1535) {
				padding-right: 15px;
			}
			@include adaptive(1439) {
				order: 1;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				height: 66px;
				border-bottom: 2px solid #dcdcdc;
			}
		}
		&-4 {
			padding-right: 30px;
			@include adaptive(1919) {
				padding-right: 15px;
			}
			@include adaptive(1439) {
				order: 3;
				padding: 0 35px 10px;
			}
		}
		&-5 {
			@include adaptive(1439) {
				order: 2;
				display: flex;
				align-items: center;
				padding: 20px 35px;
			}
		}
	}

	&__slogan {
		padding-left: 50px;
		color: #663399;
		font-family: 'Neuropol', 'Proxima Nova', sans-serif;
		font-size: 30px;
		@include adaptive(1919) {
			padding-left: 30px;
			font-size: 26px;
		}
		@include adaptive(767) {
			display: none;
		}
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		padding-left: 10px;
		padding-right: 10px;
		color: #222222;
		font-size: 18px;
		font-weight: 600;
		@include transition(color);
		@include adaptive(1439) {
			width: 100%;
			height: 55px;
			border-top: 1px solid #eaeaea;
		}

		&:not(:first-of-type) {
			margin-left: 40px;
			@include adaptive(1919) {
				margin-left: 15px;
			}
			@include adaptive(1535) {
				margin-left: 0;
			}
		}

		&:before {
			content: '';
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: calc(100% - 2px);
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #663399;
			@include transition(opacity, visibility);
		}

		&:hover {
			color: #663399;
			@include transition(color);
		}

		&.is-active {
			color: #663399;
			@include transition(color);

			&:before {
				opacity: 1;
				visibility: visible;
				@include transition(opacity, visibility);
			}
		}
	}

	&__lang {
		outline: none;
		overflow: hidden;
		position: relative;
		display: flex;
		width: 24px;
		height: 24px;
		border-radius: 50%;

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	&__upload {
		outline: none;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 46px;
		padding-left: 13px;
		padding-right: 13px;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(220, 220, 220);
		border-radius: 6px;
		background-color: #663399;
		box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.14);
		@include transition(background-color);

		&:hover {
			background-color: #fefefe;
			@include transition(background-color);

			.icon-font,
			span {
				color: #663399;
				@include transition(color);
			}
		}

		.icon-font,
		span {
			color: #fefefe;
			@include transition(color);
		}

		.icon-font {
			margin-right: 15px;
			font-size: 19px;
		}

		span {
			font-size: 18px;
			font-weight: 600;
		}
	}

	&__user {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 46px;
		height: 46px;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(220, 220, 220);
		border-radius: 6px;
		background-color: #1ac880;

		.icon-font {
			color: $c-white;
			font-size: 31px;
		}

		&-img {
			@extend %imageResCoverAbs;
		}

		&-text {
			display: none;
			@include adaptive(1439) {
				display: flex;
				padding-left: 20px;
				color: #222222;
				font-weight: 600;
				font-size: 18px;
			}
		}

		&-name {
			display: flex;
			flex-direction: column;
			padding-left: 20px;

			p,
			span {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			p {
				color: #222222;
				font-weight: 600;
				font-size: 18px;
			}

			span {
				color: #6e6e6e;
				font-size: 14px;
			}
		}

		&-login {
			display: none;
			//display: flex;
			//align-items: center;
		}

		&-unlogin {
			display: flex;
			align-items: center;
			//display: none;
		}
	}

	&__close {
		display: none;
		@include adaptive(767) {
			display: flex;
		}

		.icon-font {
			color: #6e6e6e;
			font-size: 14px;
		}
	}

	.hamburger {
		display: none;
		@include adaptive(1439) {
			display: flex;
		}
	}
}

// HEADER :: END
