include ../utilities/_mixin
include ../utilities/_dataForm
include ../utilities/_data

doctype html
html(lang="en")

	head
		include _head

	body(class!= bodyClassName)

		block header
			include ../components/_header


		block content


		block footer
			include ../components/_footer

		block additional
			include ../components/_exhibitors
			include ../components/_jobs
			include ../components/_chat

		section#overlay.overlay

		block modal

	block script
		include _script
