// SECTION :: START

.details {
	padding-top: 40px;
	padding-bottom: 20px;
	@include adaptive(767) {
		padding-top: 5px;
	}

	&__bg {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 71px;
		background-image: url('../img/img-details-bg@2x.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__wrapper {
		overflow: hidden;
		position: relative;
		display: flex;
		padding: 20px;
		@include adaptive(767) {
			flex-direction: column;
			padding: 20px 15px 0;
		}

		&-left,
		&-right {
			z-index: 2;
		}

		&-left {
			padding-right: 20px;
		}

		&-right {
			display: flex;
			flex-direction: column;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding-top: 70px;
			@include adaptive(767) {
				padding-top: 15px;
			}
		}
	}

	&__profile {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 162px;
		height: 162px;
		padding: 15px;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(234, 234, 234);
		border-radius: 6px;
		background-color: rgb(255, 255, 255);
		@include adaptive(767) {
			width: 62px;
			height: 62px;
			padding: 5px;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__header {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 10px;
		@include adaptive(767) {
			margin-bottom: 10px;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: -15px;
				width: calc(100% + 30px);
				height: 1px;
				background-color: #dcdcdc;
			}
		}

		&-left {}
		&-right {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__title {
		color: #222222;
		font-size: 24px;
		font-weight: 600;
		@include adaptive(767) {
			font-size: 18px;
		}
	}

	&__social {
		display: flex;

		&:not(:last-of-type) {
			margin-right: 15px;
		}

		.icon-font {
			font-size: 24px;

			&.icon-facebook {
				color: #3b5999;
			}
			&.icon-linkedin {
				color: #0077b7;
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		flex: 1;
		@include adaptive(767) {
			white-space: nowrap;
			overflow-x: auto;
			position: relative;
			display: block;
			font-size: 0;
			left: -15px;
			width: calc(100% + 30px);
			padding-left: 15px;
		}

		&-item {
			display: flex;
			height: 100%;
			@include adaptive(767) {
				display: inline-block;
				vertical-align: top;
			}
		}
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		padding-left: 26px;
		padding-right: 26px;
		@include adaptive(1023) {
			padding-left: 10px;
			padding-right: 10px;
		}
		@include adaptive(767) {
			padding-left: 5px;
			padding-right: 30px;
			padding-bottom: 5px;
		}

		&:after {
			content: '';
			opacity: 0;
			visibility: hidden;
			transform: translateY(100%);
			position: absolute;
			top: calc(100% + 16px);
			left: 0;
			width: 100%;
			height: 4px;
			border-radius: 3px 3px 0 0;
			background-color: #663399;
			@include transition(opacity, visibility, transform);
			@include adaptive(767) {
				top: calc(100% - 3px);
				width: calc(100% - 25px);
				height: 3px;
			}
		}

		&.is-active,
		&:hover {
			span,
			.icon-font,
			p {
				color: #663399;
				@include transition(color);
			}
		}

		&.is-active {
			&:after {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				@include transition(opacity, visibility, transform);
			}
		}

		span,
		.icon-font,
		p {
			color: #663399;
			@include transition(color);
		}

		.icon-font {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 34px;
			color: #6e6e6e;
			font-size: 24px;
			@include adaptive(1023) {
				height: 31px;
				font-size: 22px;
			}
		}

		span {
			color: #6e6e6e;
			font-size: 24px;
			@include adaptive(1023) {
				font-size: 22px;
			}
		}

		p {
			color: #222222;
			font-size: 16px;
			font-weight: 600;
			@include adaptive(1023) {
				font-size: 14px;
			}
		}
	}
}

// SECTION :: END
