// SECTION :: START

.video {
	padding-bottom: 20px;

	&__wrapper {
		display: flex;
		flex-direction: column;
		padding: 30px;
		@include adaptive(767) {
			padding: 20px 15px;
		}

		&-top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 20px;
		}
	}

	&__poster {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 203px;
		background-color: rgb(255, 255, 255);
		transform: translateZ(0);

		iframe,
		video {
			@extend %imageResCoverAbs;
		}

		&-wrapper {
			display: flex;
			justify-content: space-between;

			> div {
				width: 100%;
				max-width: calc((100% - (40px * 2)) / 3);
				@include adaptive(1279) {
					max-width: calc((100% - (20px * 2)) / 3);
				}
				@include adaptive(767) {
					max-width: 100%;

					&:nth-of-type(2),
					&:nth-of-type(3) {
						display: none;
					}
				}
			}
		}
	}
}

// SECTION :: END
