// SECTION :: START

section#advertising.advertising

	.c-grid-fluid

		.advertising__wrapper

			.advertising__box-wrapper
				a.advertising__box.advertising__box-1(href="#")
					img.advertising__img.advertising__img-1(src="img/img-advertising-1.jpg" srcset="img/img-advertising-1@2x.jpg 2x" alt="")

				a.advertising__box.advertising__box-2(href="#")
					img.advertising__img.advertising__img-2(src="img/img-advertising-2.jpg" srcset="img/img-advertising-2@2x.jpg 2x" alt="")

				a.advertising__box.advertising__box-3(href="#")
					img.advertising__img.advertising__img-3(src="img/img-advertising-3.jpg" srcset="img/img-advertising-3@2x.jpg 2x" alt="")

// SECTION :: END
