@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-back {
		$char: "\E001";
	}
	@if $filename == close {
		$char: "\E002";
	}
	@if $filename == enter {
		$char: "\E003";
	}
	@if $filename == facebook {
		$char: "\E004";
	}
	@if $filename == highlighter {
		$char: "\E005";
	}
	@if $filename == like {
		$char: "\E006";
	}
	@if $filename == linkedin {
		$char: "\E007";
	}
	@if $filename == search {
		$char: "\E008";
	}
	@if $filename == star-filled {
		$char: "\E009";
	}
	@if $filename == star {
		$char: "\E00A";
	}
	@if $filename == upload {
		$char: "\E00B";
	}
	@if $filename == visitor {
		$char: "\E00C";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow-back {
	@include icon(arrow-back);

}
.icon-close {
	@include icon(close);

}
.icon-enter {
	@include icon(enter);

}
.icon-facebook {
	@include icon(facebook);

}
.icon-highlighter {
	@include icon(highlighter);

}
.icon-like {
	@include icon(like);

}
.icon-linkedin {
	@include icon(linkedin);

}
.icon-search {
	@include icon(search);

}
.icon-star-filled {
	@include icon(star-filled);

}
.icon-star {
	@include icon(star);

}
.icon-upload {
	@include icon(upload);

}
.icon-visitor {
	@include icon(visitor);

}